

.app {
   
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 100px;


}

.titlePage{

    
    
     
     padding-bottom: 100px;
     height: 100px;
}


app.input {
    margin-top:100px;
    margin-left: 200px;
    margin-bottom:5px;
    font-size:16px;
    font-weight: bold;
    width: 500px;

}




.weather-app {
    /*margin: auto;*/
    width: 300px;
    height: 160px;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 50px #888888;
    overflow: hidden;
    text-align:center;
    font-family: "Mono";
}

.left {
    float: left;
    background: #f44256;
    padding:10px;
    width:170px;
    height:100%;
    color:white;
}

.temperature {
    margin-top:30px;
    margin-bottom:5px;
    font-size:32px;
    font-weight: bold;
    width: 150px;
}

.location {
    font-size: 18px;
    width:100%;
    width:150px;
}

.right {
    float: right;
    width:130px;
    height:100%;
}

.top {
    height: 100px;
    width: 100%;
    margin: auto;
    background: #a54747;
}

.top img {
    margin-top: 15px;
}

.bottom {
    height: 70px;
    background: #a54747;
    color: white;
    font-weight: bold;
    
}


